.careerModal {
  font-weight: 500;
  margin: 1rem;

  .careerInput {
    div {
      font-weight: 600;
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      margin: 1.5rem 0rem;

      p {
        width: 6.5rem;
        text-align: center;
      }

      input {
        border: 0.1rem #e1e1e1 solid;
        border-radius: 0.5rem;
        width: 20rem;
        padding: 0rem 1.2rem;
      }

      textarea {
        width: 85%;
        height: 7rem;
        padding-right: 7rem;
      }

      span {
        position: absolute;
        right: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }

    button {
      float: right;
    }
  }

  .disabledText {
    color: gainsboro;
    cursor: default;
  }

  .careerUpdate {
    margin: 4rem 0rem;

    li {
      border-bottom: 0.1rem #e1e1e1 solid;
      display: flex;
      justify-content: space-between;
      margin: 0rem 1rem;
      padding: 1.5rem 0rem;
      cursor: pointer;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}
