@use '../variables.scss' as *;

.locationModal {
  position: relative;
  display: flex;
  align-items: start;
  padding: 2rem 0rem;
  height: 100%;

  select {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0.1rem 0.6rem;
    cursor: pointer;
  }

  .detailLocation {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 0.25rem #fee8e8 solid;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0rem 1rem;
    padding: 1.5rem;
    cursor: pointer;

    p:hover {
      color: $main-color;
    }
  }

  .showLocation {
    position: absolute;
    bottom: 0;
    margin: 0rem 0.6rem;
  }
}

.locationModalLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
