@use '../variables.scss' as *;

.expertProfileEditPage {
  margin: 15rem auto;
  max-width: 76.8rem;

  .expertProfileEditMain {
    background-color: rgba(255, 255, 255);
    border-radius: 2rem;
    border: solid 0.2rem $main-color;
    display: flex;
    flex-direction: column;
    margin: 6rem 0rem;
    padding: 5rem 3rem;

    .expertProfileEditSection {
      margin: 1rem;

      .content {
        background-color: rgba($main-color, 0.35);
        margin: 1rem -1rem 2rem;
        padding: 2.5rem 2rem;
        border-radius: 2rem;
      }

      .profile {
        position: relative;

        p {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 18rem;
          margin: 2rem 0rem;

          label {
            background-color: rgba(255, 255, 255);
            border: solid 0.2rem $main-color;
            border-radius: 1rem;
            width: 8rem;
            height: 8rem;
            padding: 2.8rem;
            cursor: pointer;
          }

          label:active {
            scale: 95%;
          }

          img {
            border-radius: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: cover;
          }
        }

        .textareaDiv {
          position: relative;
          width: 100%;

          textarea {
            overflow-wrap: break-word;
            width: 100%;
            height: auto;
            padding-right: 5.5rem;
          }

          span {
            position: absolute;
            right: 1rem;
            bottom: 0.7rem;
            display: flex;
            justify-content: end;
            width: auto;
            font-size: 1.4rem;
          }
        }
      }

      .location {
        position: relative;

        div {
          position: relative;
          display: flex;
          flex-wrap: wrap;

          p {
            font-weight: 600;
            margin: 0.5rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          button {
            font-size: 1.2rem;
            margin: 0rem 0.5rem;
          }
        }
      }

      .service {
        position: relative;

        p {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }

      .career {
        position: relative;

        li {
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 1.5rem;
          list-style: square;

          &:last-child {
            margin-bottom: 0rem;
          }

          span {
            color: #5a5959;
          }
        }
      }
    }

    .submitBtn {
      width: 30rem;
      margin: 1rem auto;
    }

    .submitBtn:active {
      scale: 0.95;
    }

    .changeBtn {
      position: absolute;
      top: -2.5rem;
      right: 1.5rem;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .changeBtn:active {
      scale: 0.95;
    }

    .deleteBtn {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      font-size: 1.3rem;
      font-weight: 600;
    }

    .deleteBtn:active {
      scale: 0.95;
    }
  }
}

.expertProfileEditSpinner {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fffae5;
  z-index: 9;
}
