@use '../variables.scss' as *;

.expertProfileEditPage {
  margin: 15rem auto;
  max-width: 76.8rem;

  .expertProfileEditMain {
    background-color: rgba(255, 255, 255);
    border-radius: 2rem;
    border: solid 0.2rem $main-color;
    display: flex;
    flex-direction: column;
    margin: 6rem 0rem;
    padding: 5rem 3rem;

    .expertProfileEditSection {
      margin: 1rem;

      .content {
        background-color: rgba($main-color, 0.35);
        margin: 1rem -1rem 2rem;
        padding: 2.5rem 2rem;
        border-radius: 2rem;
      }

      .profile {
        position: relative;

        p {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 18rem;
          margin: 2rem 0rem;

          label {
            background-color: rgba(255, 255, 255);
            border: solid 0.2rem $main-color;
            border-radius: 1rem;
            width: 8rem;
            height: 8rem;
            padding: 2.8rem;
            cursor: pointer;
          }

          label:active {
            scale: 95%;
          }

          img {
            border-radius: 1rem;
            width: 8rem;
            height: 8rem;
            object-fit: cover;
          }
        }

        textarea {
          overflow-wrap: break-word;
          width: 45rem;
          height: auto;
        }

        .textareaChild {
          position: absolute;
          display: flex;
          justify-content: end;
          right: 12rem;
          bottom: 1.3rem;
          width: auto;

          span {
            font-size: 1.4rem;
          }

          .doneBtn {
            font-size: 1.5rem;
            font-weight: 600;
            margin-left: 2rem;
          }
        }
      }

      .location {
        position: relative;

        div {
          position: relative;
          display: flex;
          flex-wrap: wrap;

          p {
            font-weight: 600;
            margin: 0.5rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          button {
            font-size: 1.2rem;
            margin: 0rem 0.5rem;
          }
        }
      }

      .service {
        position: relative;

        p {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }

      .career {
        position: relative;

        li {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
          list-style: square;

          &:last-child {
            margin-bottom: 0rem;
          }
        }
      }
    }

    .submitBtn {
      width: 30rem;
      margin: 1rem auto;
    }

    .changeBtn {
      position: absolute;
      top: -2.5rem;
      right: 1.5rem;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .deleteBtn {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}
