.myPage {
  margin: 15rem auto;
  max-width: 76.8rem;

  .myMain {
    background-color: #f3f3f3;
    margin: 5rem 0rem;
    padding: 5rem 3rem;
    border-radius: 2rem;

    .mySection {
      background-color: #ffffff;
      border-radius: 2rem;
      height: 13rem;
      margin: 1.3rem 0rem;
      padding: 0rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div,
      button {
        margin-right: 4rem;
        font-weight: 500;
        font-size: 1.7rem;
      }
    }
  }
}
