@use '@/styles/variables' as *;

.chatPage {
  width: 100%;
  height: calc(100vh - 12.4rem);
  padding-bottom: 4rem;
  .chatRoomTop {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 4rem;
  }
  .chatWrapper {
    display: flex;
    gap: 3.2rem;
    // height: calc(100% - 10.4rem);
    height: 100%;
    margin-top: 1.2rem;
    .chatRoom {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 65%;
      height: 100%;
      border-radius: 2rem;
      .chatContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $main-color-light;
        border: 1px solid;
        border-color: $main-color;
        border-radius: 2rem;
        .chatBox {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          width: calc(100% - 4.8rem);
          height: calc(100% - 2.4rem);
          overflow: auto;
          .messageBox {
            .userProfileImg {
              display: inline-block;
              width: 3.6rem;
              min-width: 3.6rem;
              height: 3.6rem;
              border-radius: 50%;
              overflow: hidden;
            }
            .speechBubble {
              display: inline-block;
              max-width: 30rem;
              padding: 1.2rem;
              font-size: 1.6rem;
              line-height: 1.25;
              word-break: keep-all;
              background-color: #fff;
              border: 1px solid;
              border-color: $border-color;
              border-radius: 0.8rem;
              position: relative;
              .createMessageTime {
                position: absolute;
                bottom: 0;
                display: flex;
                gap: 0.8rem;
                font-size: 1.2rem;
                white-space: nowrap;
                color: $font-deactivate-color;
                .messageUnread {
                  color: $font-color;
                }
              }
            }
          }
          .myMessageBox {
            padding-right: 1.2rem;
            margin-left: auto;
            .profileBadge {
              margin-left: auto;
            }
            .speechBubble {
              right: 3.2rem;
              .createMessageTime {
                right: calc(100% + 0.8rem);
                flex-direction: row-reverse;
              }
            }
          }
          .yourMessageBox {
            .speechBubble {
              left: 3.2rem;
              .createMessageTime {
                left: calc(100% + 0.8rem);
              }
            }
          }
        }
      }
      .chatForm {
        display: flex;
        gap: 0.8rem;
      }
    }
    .expertWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35%;
      height: 100%;
      .expertInfo {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding-bottom: 2.4rem;
        margin-bottom: 2.4rem;
        border-bottom: 1px solid;
        border-color: $border-color;
        position: relative;
        .expertDetail {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
          .address {
            font-size: 1.4rem;
            font-weight: 700;
            color: $font-deactivate-color;
          }
        }
        .addFuncBtnBox {
          position: absolute;
          right: 0;
          top: 0;
          .listBtn {
            width: 3.2rem;
            height: 3.2rem;
            font-size: 0;
            background: url('/image/chat_list_icon.svg') no-repeat 50% 50% / 3.2rem;
          }
          .btnList {
            position: absolute;
            right: 0;
            top: 100%;
            padding: 1.2rem 0;
            border: 1px solid;
            border-color: $border-color;
            background-color: #fff;
            border-radius: 0.8rem;
            button {
              width: 100%;
              padding: 0 1.2rem;
              font-size: 1.4rem;
              line-height: 3.2rem;
              text-align: left;
              white-space: nowrap;
              &:hover {
                background-color: $main-color;
              }
            }
          }
        }
      }
      .btnBox {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }
    }
  }
}

.dealModal {
  dl {
    margin-top: 3.2rem;
    &:first-child {
      margin-top: 0;
    }
    dt {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.2rem;
    }
    dd {
      margin-top: 0.8rem;
      font-size: 1.4rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
