@use '../variables.scss' as *;

// 견적요청page 전체
.userEstimationPage {
  max-width: 76.8rem; // 최대 너비
  margin: 0 auto; // 컨텐츠 가운데 정렬
  padding: 4rem 4rem;

  // 내부 컨텐츠 묶음
  .contents {
    margin: 8rem 0; // 컨텐츠-페이지 제목 사이 여백
    background-color: rgba(255, 255, 255);
    border-radius: 2rem;
    border: solid 0.2rem $main-color;
    margin: 6rem 0rem;
    padding: 5rem 3rem;

    // 견적요청서 타이틀
    .mainTitle {
      text-align: center;
      margin-bottom: 6rem;
    }

    // 각 카테고리
    .service,
    .gender,
    .dateTime,
    .location,
    .hallName,
    .method {
      background-color: rgba($main-color, 0.35);
      margin: 1rem -1rem 2rem;
      padding: 2.5rem 2rem;
      border-radius: 2rem;

      // 서브 타이틀
      h6 {
        margin-bottom: 3rem; // 서브타이틀-내용 여백
      }

      // 선택지 (체크박스, 라디오박스)
      .choose {
        display: flex;
        align-items: center;
        // 체크, 라디오
        .chkBox,
        .rdoBox {
          margin-right: 4rem;
        }
      }

      // 2부 예식
      .is_reception {
        display: flex;
        align-items: flex-start; // 2부예식-답변 줄 맞춤
        gap: 6rem; //2부예식-답변 사이 여백
      }
    }
  }

  // 라벨
  label {
    gap: 2rem; // 라벨과 글자 사이 간격
  }

  // 견적요청 버튼
  .estimationBtn {
    display: flex;
    justify-content: flex-end;
  }
}
