@use '../variables.scss' as *;

.userEstimationPage {
  max-width: 76.8rem;
  margin: 15rem auto;

  .contents {
    margin: 8rem 0;

    h6 {
      margin: 2rem 0;
    }
    .service,
    .date,
    .location,
    .hallName,
    .time,
    .method {
      margin-bottom: 6rem;
    }

    .recessional {
      display: flex;
      gap: 20rem;
    }
  }
  .choose {
    display: flex;
    align-items: center;
    gap: 8rem;
  }
  label {
    gap: 2rem;
  }
  .estimationBtn {
    display: flex;
    justify-content: flex-end;
  }
}
