@use '../variables.scss' as *;

// 견적요청page 전체
.userEstimationPage {
  max-width: 76.8rem; // 최대 너비
  margin: 0 auto; // 컨텐츠 가운데 정렬
  padding: 8rem 4rem;

  // 내부 컨텐츠 묶음
  .contents {
    margin: 8rem 0; // 컨텐츠-페이지 제목 사이 여백

    // 서브 타이틀
    h6 {
      margin: 2rem 0; // 서브타이틀-내용 여백
    }

    // 각 카테고리
    .service,
    .date,
    .location,
    .hallName,
    .time,
    .method {
      margin-bottom: 6rem; // 카테고리 사이 여백
    }

    // 2부 예식
    .recessional {
      display: flex;
      gap: 6rem; //2부예식-답변 사이 여백
    }
  }

  // 선택지 (체크박스, 라디오박스)
  .choose {
    display: flex;
    align-items: center;

    // 체크, 라디오
    .chkBox,
    .rdoBox {
      margin-right: 4rem;
    }
  }

  // 라벨
  label {
    gap: 2rem; // 라벨과 글자 사이 간격
  }

  // 견적요청 버튼
  .estimationBtn {
    display: flex;
    justify-content: flex-end;
  }
}
