@use 'variables' as *;

.pageTitle {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .prevBtn {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 0;
    background: url('/image/chat_prev_icon.svg') no-repeat 50% 50% / 3.2rem;
    cursor: pointer;
  }
  .title {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.mainBtn {
  width: 25rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: $main-color;
  border: 1px solid;
  border-color: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  &.default {
    height: 4rem;
  }
  &.large {
    height: 4.8rem;
    font-size: 1.8rem;
  }
  &.medium {
    height: 3.2rem;
  }
  &.small {
    height: 2.4rem;
    font-size: 1.4rem;
  }
  &:disabled {
    background-color: $disabled !important;
    color: $disabled-font;
    cursor: default;
  }
}

.iconBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: $main-color;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;
  img {
    // background-color: $main-color;
    object-fit: cover;
  }
}

.comInput {
  height: 4rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid;
  border-color: $border-color;
  border-radius: 0.4rem;
  &:focus {
    background-color: $main-color-light;
    border: 1px solid;
    border-color: $main-color;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled-font;
    &::placeholder {
      color: $disabled-font;
    }
  }
  &.comInput[type='number']::-webkit-outer-spin-button,
  &.comInput[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.comTextarea {
  height: 10rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  border: 1px solid;
  border-color: $border-color;
  border-radius: 0.4rem;
  resize: none;
  &:focus {
    background-color: $main-color-light;
    border: 1px solid;
    border-color: $main-color;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled-font;
    &::placeholder {
      color: $disabled-font;
    }
  }
}

.comSelect {
  height: 4rem;
  padding: 0 4rem 0 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  background: #fff url('/image/select_arrow_icon.svg') no-repeat 100% 50%;
  border: 1px solid;
  border-color: $border-color;
  border-radius: 0.4rem;
  appearance: none;
  &:focus {
    background-color: $main-color-light;
    border: 1px solid;
    border-color: $main-color;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled-font;
    &::placeholder {
      color: $disabled-font;
    }
  }
}

.chkBox {
  input[type='checkbox'] {
    display: none;
    &:checked + label::before {
      background-image: url('/image/checkbox_checked.svg');
    }
    &:checked:disabled + label::before {
      background-image: url('/image/checkbox_checked_disabled.svg');
    }
    &:disabled + label::before {
      background-image: url('/image/checkbox_disabled.svg');
    }
    &:disabled + label {
      cursor: default;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    &::before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      background: no-repeat 50% 50% / 2.4rem;
      background-image: url('/image/checkbox.svg');
    }
  }
}

.rdoBox {
  input[type='radio'] {
    display: none;
    &:checked + label::before {
      background-image: url('/image/radio_checked.svg');
    }
    &:checked:disabled + label::before {
      background-image: url('/image/radio_checked_disabled.svg');
    }
    &:disabled + label::before {
      background-image: url('/image/radio_disabled.svg');
    }
    &:disabled + label {
      cursor: default;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    &::before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      background: no-repeat 50% 50% / 2.4rem;
      background-image: url('/image/radio.svg');
    }
  }
}

.comTab {
  .tabBtnBox {
    display: flex;
    align-items: flex-end;
    button {
      min-width: 6.4rem;
      padding: 0 2.4rem;
      font-size: 1.8rem;
      line-height: 3.2rem;
      border-bottom: 2px solid;
      border-color: $deactivate-color;
      color: $deactivate-color;
      cursor: pointer;
      &.active {
        border-color: $default-color;
        color: $default-color;
      }
    }
  }
  .tabConBox {
    padding: 2.4rem 0;
    font-size: 1.6rem;
  }
}

.comModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 11;
  .modalWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    .modalHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 6rem;
      padding: 0 2.4rem;
      border-bottom: 1px solid;
      border-color: $border-color;
      .title {
        font-size: 2rem;
        font-weight: 700;
      }
      .closeBtn {
        font-size: 0;
      }
    }
    .modalContents {
      width: calc(100% - 1.2rem);
      height: calc(100% - 15.6rem);
      padding: 0 1.2rem;
      margin: 1.2rem auto;
      font-size: 1.6rem;
      overflow: auto;
    }
    .modalFooter {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      height: 7.2rem;
      padding: 0 2.4rem;
      button {
        width: 100%;
        height: 4rem;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: $main-color;
        border-radius: 0.4rem;
      }
    }
  }
  .blackBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.profile-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: $main-color;
  border-radius: 0.8rem;
  overflow: hidden;

  &__icon {
    object-fit: cover;
  }
}
