@use './variables.scss' as *;

// navbar 전체
.headerNavBar {
  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // nav 하단 그림자 추가

  // nav컨텐츠 묶음
  .contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // CI
    .headerTitle h6 {
      white-space: nowrap; // 줄바꿈 하지 않음
      color: $main-color;
      text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.3);
    }

    // CI 제외 묶음
    .headerWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;

      // 왼쪽 메뉴
      .headerLeft {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 2rem;
        .headerMenu {
          display: flex; // 가로 정렬 설정
          gap: 1.5rem; // 각 항목 간의 간격
        }
      }

      .headerRight {
        width: 100%; // 오른쪽 메뉴의 비율 설정
        display: flex;
        justify-content: flex-end; // 오른쪽 정렬
        .headerMenu {
          display: flex; // 가로 정렬 설정
          align-items: center;
          gap: 1.5rem; // 각 항목 간의 간격
          .btn {
            .mainBtn {
              width: auto;
              margin: 0 auto;
            }
          }
        }
      }
    }

    // 반응형 햄버거
    .headerMiniMenu {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .headerNavBar {
    .contents {
      padding: 0 3.2rem;

      // 기존메뉴 숨기기
      .headerWrapper {
        display: none;
      }

      // 반응형 추가
      .headerMiniMenu {
        display: block;
        font-size: 4rem;
        .sliderMenu {
          width: 20rem;
          height: 100vh;

          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 4rem;
          background-color: rgba($main-color, 0.9);
          backdrop-filter: blur(10px);
          position: fixed;
          top: 7.2rem;
          right: 0;

          font-size: 2rem;
          hr {
            width: 50%;
            height: 1px;
            margin: 2rem 0;
            background-color: rgba($font-deactivate-color, 1);
            border: 0.1px rgba($font-deactivate-color, 1) solid;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
