@use './variables.scss' as *;

// navbar 전체
.headerNavBar {
  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // nav 하단 그림자 추가

  // nav컨텐츠 묶음
  .contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // CI
    .headerTitle h6 {
      white-space: nowrap; // 줄바꿈 하지 않음
      color: $main-color;
      text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.3);
    }

    // CI 제외 묶음
    .headerWrapper {
      white-space: nowrap; // 줄바꿈 하지 않음
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      font-size: 2rem;

      // 메뉴 (단축메뉴 제외) 묶음: 반응형에서 단축메뉴를 나타나게 하기위한 클래스
      .headerMenu {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 2rem; // CI와의 간격

        // 메뉴 묶음
        .headerNav {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        // 로그인 후 오른쪽편 메뉴
        .userNav,
        .expertNav {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 2rem;
        }
      }

      // 로그인 로그아웃 버튼
      .btn {
        .mainBtn {
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }
}

// 반응형 햄버거
.headerMiniMenu {
  display: none;
}

@media (max-width: 768px) {
  .headerNavBar {
    .contents {
      padding: 0 3.2rem;

      // 기존메뉴 숨기기
      .headerWrapper {
        display: none;
      }

      // 반응형 추가
      .headerMiniMenu {
        display: flex;
        align-items: center;
        gap: 2rem;

        // 햄버거버튼 (폰트로 넣음)
        .menuBtn {
          font-size: 4rem;
        }

        // 슬라이드로 나타나는 메뉴
        .sliderMenu {
          width: 20rem;
          height: 100vh;
          display: flex;
          flex-direction: column;
          padding: 4rem 2rem;
          background-color: rgba($main-color, 0.7);
          backdrop-filter: blur(10px);
          position: fixed;
          top: 7.2rem;
          right: 0;
          font-size: 2rem;

          // 로그인 전 버튼
          .loginMenu {
            font-size: 3rem;
            .estimationEdit,
            .loginBtn {
              width: 100%;
              text-align: end;
              line-height: 3rem;
              font-size: 1.6rem;
            }

            // 줄바꿈 표시
            hr {
              width: 100%;
              height: 1px;
              margin: 1.2rem 0;
              border: 0.1px rgba($font-color, 0.3) solid;
              border-radius: 50%;
            }
          }

          // 로그인 후 슬라이드 메뉴
          .userMenu {
            width: 100%;
            text-align: end;
            line-height: 3rem;
            font-size: 1.6rem;
            hr {
              width: 100%;
              height: 1px;
              margin: 1.2rem 0;
              border: 0.1px rgba($font-color, 0.3) solid;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
