.mainPage {
  display: flex;
  width: 100%;
  flex-direction: column;

  .contentLayout {
    display: flex;
    margin: 6rem auto;
    width: 100%;
    flex-direction: column;

    .tabContentsType {
      display: flex;
      flex-direction: row;
      margin-top: 8rem;
      gap: 3.2rem;
      align-items: flex-start;

      .profileBadge {
        //메인 페이지 전문가 이미지
        width: 40rem;
        height: 28rem;
        object-fit: cover;
      }

      .profileBadgeIcon {
        width: 40rem;
        height: 28rem;
        object-fit: cover;
      }

      &:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        display: flex;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    .tabText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2.4rem;
      width: 40%;
      .expertName {
        margin-top: 0.8rem;
        font-size: 2rem;
        font-weight: 600;
      }

      .expertDescription {
        margin-top: 2rem;
        font-size: 1.8rem;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }
}

@media (max-width: 1024px) {
  .profileBadge {
    min-width: 35rem;
    height: calc(100% * 7 / 10);
  }
}
@media (max-width: 768px) {
  .profileBadge {
    min-width: 30rem;
    min-height: calc(100% * 7 / 10);
  }
}
@media (max-width: 512px) {
  .profileBadge {
    width: 6rem;
    height: 6rem;
  }
}
// @media (max-width: 425px) {
//   .profileBadge {
//     min-width: 2rem;
//     min-height: 2rem;
//   }
// }
// @media (max-width: 375px) {
//   .profileBadge {
//     min-width: 20rem;
//     min-height: 14rem;
//   }
// }
// @media (max-width: 320px) {
//   .profileBadge {
//     min-width: 20rem;
//     min-height: 14rem;
//   }
// }
