.mainPage {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .tabWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    .tabContentsType {
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem;
      gap: 3.5rem;
      align-items: center;
      justify-content: center;
      // height: 26rem;

      .profileBadge {
        min-width: 30rem !important;
        height: 20rem !important;
        object-fit: cover;
      }
    }
    .tabText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0.5rem;
      max-width: 75%;

      .expertName {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .expertDescription {
        margin-top: 2rem;
        font-size: 1.7rem;
      }
    }
  }
}
