.mainPage {
  display: flex;
  width: 100%;
  flex-direction: column;

  .contentLayout {
    display: flex;
    margin: 6rem auto;
    width: 100%;
    flex-direction: column;

    .tabContentsType {
      display: flex;
      flex-direction: row;
      margin-top: 8rem;
      gap: 3.2rem;
      align-items: flex-start;
      cursor: pointer;

      &:hover {
        background-color: #ffd6d670;
        border-radius: 0.7rem;
        box-shadow: 1px 1px 6px #c9b9b970;
      }

      .loadingSpinnerBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
      }

      .profileBadge {
        width: 40rem;
        height: 28rem;
        object-fit: cover;
      }

      &:nth-child(even) {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        display: flex;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    .tabText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2.4rem;
      width: 48%;

      .tabContentTitle {
        font-size: 2.8rem;
        font-weight: 700;
      }
      .expertName {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 600;
      }

      .expertDescription {
        margin-top: 2rem;
        font-size: 1.8rem;
        line-height: 1.5;
        word-break: keep-all;
      }
    }
  }

  @media (max-width: 1024px) {
    .profileBadge {
      min-width: 35rem;
      height: calc(100% * 7 / 10);
    }
  }
  @media (max-width: 768px) {
    .profileBadge {
      min-width: 30rem;
      min-height: calc(100% * 7 / 10);
    }
  }
  @media (max-width: 512px) {
    .profileBadge {
      width: 6rem;
      height: 6rem;
    }
  }
  @media (max-width: 425px) {
    .profileBadge {
      min-width: 3rem;
      min-height: 3rem;
    }
    .tabContentTitle {
      display: none;
    }
  }
  @media (max-width: 375px) {
    .profileBadge {
      min-width: 1.5rem;
      min-height: 1.5rem;
    }
    .tabContentTitle {
      display: none;
    }
  }
  @media (max-width: 320px) {
    .profileBadge {
      min-width: 1rem;
      min-height: 1rem;
    }
    .tabContentTitle {
      display: none;
    }
  }
}
