.slider-container {
  max-width: 100vw;
  max-height: auto;

  .textContainer {
    position: absolute;
    font-size: 3.2rem;
    top: 20%;
    right: 15%;
  }
  .colorDiff {
    color: white;
  }
  img {
    width: 100%;
    height: auto;
  }
  .slick-prev::before,
  .slick-next::before {
    opacity: 0;
    display: none;
  }
  .customArrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    color: #ffe14c;
    opacity: 0.6;

    &.left {
      left: 2rem;
    }
    &.right {
      right: 2rem;
    }
    &:hover {
      opacity: 1; // 호버 시에만 보이도록 설정
    }
  }
}
